# ===============================
# Ignore everything by default
# ===============================
*

# ===============================
# Ignore Eclipse workspace files
# ===============================
.metadata/
**/.classpath
**/.project
**/.settings/

# ===============================
# Allow specific projects
# ===============================
!AboutOops/
!JavaBasics/
!AboutMap/
!CollectionFramework/
!FileHandling/
!FunctionalProgramming/
!WrapperClasses/

# ===============================
# Allow only src folders inside projects
# ===============================
!AboutOops/src/
!AboutOops/src/**

!JavaBasics/src/
!JavaBasics/src/**

!AboutMap/src/
!AboutMap/src/**

!CollectionFramework/src/
!CollectionFramework/src/**

!FileHandling/src/
!FileHandling/src/**

!FunctionalProgramming/src/
!FunctionalProgramming/src/**

!WrapperClasses/src/
!WrapperClasses/src/**
